*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2{
    padding-bottom: 1rem;
}

p{
    padding-bottom: 1rem;
    line-height: 30px;
}

a{
    text-decoration: none;

}

.btn{
    background-color: #0084fd;
    width:125px;
    padding: 10px 10px;
    /* margin: 0 auto; */
    font-size: 11px;
    border-radius: 20px;
}

/* HEADER */

header{
    height: 70px;
    background-color: #0084fd;
    color: white;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu{
    display: none;
}

.service{
    padding-top: 1rem;
}
.card{
    padding: 1rem 1rem;
    margin: 10px 0;
    background-color: lightblue;
    text-align: center;
    /* test */
    border: 1px solid red;
}

.service h2{
    color: #0084fd;
}

.service a{
    padding-bottom: 1rem;
    color: white;
}

.service .btn{
    margin-bottom: 1rem;
}
.service:first-child p {
    text-align: left;
}

/* TABLET */
@media all and (min-width: 768px) {
    .service{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        width: calc(100% / 3);
    }

    .card:first-child{
        width: calc( (100% / 3) * 2);
    }


}

@media all and (min-width: 992px) {
    .menu{
        display: block;
    }

    .menu li{
        list-style-type: none;
        padding-right: 20px;
        
    }
    
    .burger{
        display: none;
    }






}