*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */

.cont{
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}

.small-cont{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

h2{
    padding-bottom: 1rem;
}

p{
    padding-bottom: 1rem;
    line-height: 30px;
}

a{
    text-decoration: none;

}

.btn{
    background-color: #0084fd;
    width:125px;
    padding: 10px 10px;
    /* margin: 0 auto; */
    font-size: 11px;
    border-radius: 20px;
}

img{
    width: 100%;
    margin: auto;
    display: block;
}


/*-*-*-*-*-*-*-*-*   HEADER   *-*-*-*-*-*-*-*-*/

header{
    height: 70px;
    background-color: #0084fd;
    color: white;
    font-size: 12px;
}

nav{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu{
    display: none;
}

.menu .btn{
    background-color: white;
    color: black;
}

/*-*-*-*-*-*-*-*-*-*   MAIN   *-*-*-*-*-*-*-*-*/


/*--------------------------------SECTION SERVICE */

.service{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card{
    padding: 1rem 1rem 0 1rem;
    margin: 10px 0;
    background-color: lightblue;
    text-align: center;
    height: 100%;
    /* test */
    border-radius: 25px;
}

.service h2{
    color: #0084fd;
}

.service a{
    padding-bottom: 1rem;
    color: white;
}

.service .btn{
    margin-bottom: 1rem;
    color: white;
    font-size: 13px;
    font-weight: bold;

}
.service .c-large p {
    text-align: left;
}
.c-large img{
    width: 250px;
}

.icons{
    font-size: 100px;
    color: #0084fd;
}
.txt span{
    padding-right: 10px;
}



/*------------------------------ SECTION PLANNING */

.planning{
    background-color: #9792e4;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.p-card{
    padding: 1rem;
    margin: 2rem;
    text-align: left;
    /* height: 100%; */
    color: white;
}

.p-card h2{
    padding: 2rem 0;
 }

 .p-right{
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 30px;
    padding-bottom: 2rem;

}

.p-right .btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: #9792e4;
    font-size: 20px;
    
    
}







/*************** TABLET ***************/

@media all and (min-width: 768px) {

    /* ----service----*/

    .cont{
        display: flex;
        flex-wrap: wrap;
    }

    .card{
        margin: 0;
    }

    .s-grow{
        width: calc(100% / 3);
        background-color: white;
        padding: 10px
    }

    .s-grow:first-child{
        width: calc( (100% / 3) * 2);
    }

}

/***************** DESKTOP **************/

@media all and (min-width: 992px) {

    /* ---- menu---- */
    .menu{
        display: block;
    }

    .menu li{
        list-style-type: none;
        padding-right: 20px;
        
    }
    
    .burger{
        display: none;
    }



    /* ----service----*/
    .c-large{
        display: flex;

    }

    .c-large .txt{
        width: 50%;
    }

    .c-large .image{
        margin-top: 10px;
    }

    /* ---- planning ----*/
    .small-cont{
        display: flex;
        align-items: flex-end;
    }
    .p-grow{
        width: 50%;
        padding: 1rem;
    }

    
    .p-card h2{
        padding-top: 100px;
    }

    .p-right h2{
        padding-top: 2rem;
    }


    .p-right img{
        width: 250px;
        height: auto;

    }

    




}